@{
    ViewBag.Title = "Colocation ?";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article style="margin-top:10px;">
    <p>
        La colocation consiste à vivre à plusieurs personnes (appelées colocataires) dans un même logement (une maison, un appartement, ...). Ce logement est partagé par ses occupants.
    </p>

    <p style="margin-top:15px;">
        Chaque occupant, appelé colocataire, dispose de tout le confort qu'offre le logement (cuisine équipée, salon, salle à manger, salle de bain, jardin, salle de sport pour les plus chanceux) et de sa chambre privée (même si celle-ci n'est habituellement pas désignée sur le contrat, chaque colocataire dispose de sa propre chambre).
    </p>

    <p style="margin-top:15px;">
        Il y a quelques années, ce mode de logement était essentiellement populaire auprès des étudiants qui, plutôt que de louer un studio de 15 m², préféraient co-louer un plus grand logement avec d'autres étudiants et ce sans payer un loyer plus important.
    </p>

    <p style="margin-top:15px;">
        Aujourd'hui, le profil du colocataire a bien évolué. On retrouve toujours des étudiants mais aussi des personnes actives, des séniors, des familles monoparentales, ... Et bon nombre de ces personnes décident d'opter pour la colocation pas uniquement pour son côté économique, mais aussi pour son côté convivial.
    </p>

    <p style="margin-top:15px;">
        En France, la colocation est très populaire, surtout dans les grandes villes comme Paris. En effet, la colocation est un mode de logement très courant à Paris, et c'est bien normal vu le prix des loyers qui ne cesse d'augmenter! Mais il n'y a pas qu'à Paris que la coloc marche bien, c'est également le cas dans la plupart des grandes villes françaises comme Lyon, Toulouse ou encore Montpellier.
    </p>
</article>

<aside>
    <h3>La colocation: Internet en parle !</h3><br/>
    <p>
        Ressources à consulter
    </p>
    <ul>
        <li><a href="http://etudiant.aujourdhui.fr/etudiant/info/colocation-mode-d-emploi.html">Mode d'emploi - L'Etudiant</a></li>
        <li><a href="http://www.latribune.fr/vos-finances/immobilier/20130826trib000781668/immobilier-quand-les-temps-sont-durs-la-colocation-est-une-solution.html">Les temps sont durs - La Tribune</a></li>
        <li><a href="http://etudiant.lefigaro.fr/vie-etudiante/news/detail/article/logement-etudiant-la-colocation-revient-moins-cher-2116/">Logement Etudiant - Le Figaro</a></li>
    </ul>
</aside>