@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>Contactez nous !</h1>
</hgroup>


<section class="contact">
    <header>
        <h3>Téléphone</h3>
    </header>
    <p>
        <span style="color: #0094ff">Principal:</span>
        <span>03 26 91 86 66</span>
    </p>
    <p>
        <span style="color: #0094ff">En dehors des heures de bureau:</span>
        <span>03 26 91 83 59</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span style="color: #0094ff">Support:</span>
        <span><a href="mailto:Support@colocatr.com">Support@colocatr.com</a></span>
    </p>
    <p>
        <span style="color: #0094ff">Commercial:</span>
        <span><a href="mailto:Marketing@colocatr.com">Marketing@colocatr.com</a></span>
    </p>
    <p>
        <span style="color: #0094ff">Général:</span>
        <span><a href="mailto:General@colocatr.com">General@colocatr.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Adresse</h3>
    </header>
    <p>
        <br />
        Université Reims Champagne Ardenne
    </p>
</section>