@{
    ViewBag.Title = "Accueil";
}

<h3>Vous êtes intéressés par la colocation ?</h3>
<ol class="round">
    <li class="one">
        <h5>Rejoignez la communauté</h5>
        Des gens sont déjà à la recherche d'une colocation sur Coloc@R ! N'attendez plus et rejoignez-les dès maintenant. Profitez d'une plateforme qui correspond vraiment à vos attentes !
        @Html.ActionLink("En savoir plus ...", "About")
    </li>

    <li class="two">
        <h5>Faites des économies</h5>
        Ce qui fait que la colocation rencontre un franc succès depuis quelques années, c'est principalement la faculté qu'à ce mode de vie de vous faire économisez de l'argent !
        @Html.ActionLink("En savoir plus ...", "About")
    </li>

    <li class="three">
        <h5>Gagnez du temps</h5>
        La recherche d'un logement est un tâche longue et fastidieuse surtout quand il s'agit de trouver une colocation dans une ville 
        où l'on a encore probablement jamais mis les pieds ! Coloc@R vous simplifie la vie.
        @Html.ActionLink("En savoir plus ...", "About")
    </li>
</ol>
