
@{
    ViewBag.Title = "Inscription terminée";
}

<h2>Votre inscription a bien été prise en compte !</h2>

<br />
<p>Vous pouvez maintenant vous @Html.ActionLink("connecter", "Index", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })<p>

